In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [5]:
#Collect the Data
ds3 = pd.read_csv(r"C:\Users\hp\Desktop\Datasets\Churn_Modelling.csv")
ds3.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# separate the target variable from the features
X = ds3[['CustomerId', 'CreditScore', 'Age', 'Tenure', 'Balance']]
y = ds3['EstimatedSalary']

In [7]:
X

      CustomerId  CreditScore  Age  Tenure    Balance
0       15634602          619   42       2       0.00
1       15647311          608   41       1   83807.86
2       15619304          502   42       8  159660.80
3       15701354          699   39       1       0.00
4       15737888          850   43       2  125510.82
...          ...          ...  ...     ...        ...
9995    15606229          771   39       5       0.00
9996    15569892          516   35      10   57369.61
9997    15584532          709   36       7       0.00
9998    15682355          772   42       3   75075.31
9999    15628319          792   28       4  130142.79

[10000 rows x 5 columns]

In [8]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [9]:
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [10]:
# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [12]:
# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
# Define the base models
rf = RandomForestRegressor(n_estimators=100, max_depth=10)
svm = SVR(kernel='rbf', C=1.0, gamma='scale')
gb = GradientBoostingRegressor(n_estimators=100, max_depth=5, learning_rate=0.1)

In [14]:
# Train each base model on a different subset of the data
rf.fit(X_train[:3500], y_train[:3500]) # first 3500 samples
svm.fit(X_train[3500:7000], y_train[3500:7000])# samples 500-1000
gb.fit(X_train[7000:10000], y_train[7000:10000])# samples 1000-10000

GradientBoostingRegressor(max_depth=5)

In [15]:
# Make predictions using each base model
rf_pred = rf.predict(X_test)
svm_pred = svm.predict(X_test)
gb_pred = gb.predict(X_test)

In [16]:
# Combine the predictions using simple averaging
ensemble_pred = np.mean([rf_pred, svm_pred, gb_pred], axis=0)

In [17]:
# Evaluate the performance of the ensemble
ensemble_mse = mean_squared_error(y_test, ensemble_pred)

In [18]:
# Evaluate the performance of each individual model
rf_mse = mean_squared_error(y_test, rf_pred)
svm_mse = mean_squared_error(y_test, svm_pred)
gb_mse = mean_squared_error(y_test, gb_pred)

In [19]:
print('Random Forest MSE:', rf_mse)
print('SVM MSE:', svm_mse)
print('Gradient Boosting MSE:', gb_mse)
print('Ensemble MSE:', ensemble_mse)

Random Forest MSE: 3348605160.907584
SVM MSE: 3314542594.88874
Gradient Boosting MSE: 3775370302.43863
Ensemble MSE: 3367284631.3377056

In [ ]:
#In this case, all four models have relatively high MSE values, indicating that they are not making very accurate predictions. 
#The SVM model has the lowest MSE value of 3314542594.88874, 
#followed closely by the Random Forest model with an MSE of 3348605160.907584, 
#and then the Ensemble model with an MSE of 3367284631.3377056. 
#The Gradient Boosting model has the highest MSE of 3775370302.43863, indicating that it is the least accurate of the four models.
#Overall, these MSE values suggest that the models may not be well-suited to the dataset, and additional analysis and adjustments may be needed to improve their performance.